/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

/* Tailwind CSS */
@import "tailwindcss";

/* Daisy UI */
@plugin "daisyui";

/* Custom Styles */
* {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.gradient-text {
  @apply bg-gradient-to-r from-[#7E3AF2] via-[#EC4899] to-[#F97316] bg-clip-text text-transparent;
}
.light-bg {
  @apply bg-gradient-to-b from-orange-200 via-rose-200 to-pink-200 text-gray-800;
}
.light-bg-reverse {
  @apply bg-gradient-to-b from-pink-200 via-rose-200 to-orange-200 text-gray-800;
}
.dark-bg {
  @apply bg-gradient-to-b from-gray-900 via-gray-800 to-gray-900 text-gray-300;
}
.light-card {
  @apply bg-gray-800/80 border border-gray-700;
}
.dark-card {
  @apply bg-gradient-to-b from-orange-100 via-rose-100 to-pink-100 text-gray-800 border border-white/20;
}
